[Unit]
Description=Pi Light Sensor
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python -u /home/pi/pi-sensor-code/sensor.py
WorkingDirectory=/home/pi/pi-sensor-code
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
