[Unit]
Description=Pi Light Sensor
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python -u /home/pi/laundrybot-raspi/sensor.py
WorkingDirectory=/home/pi/laundrybot-raspi
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
